doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content=`user-scalable=no`)
    title 👾 Chat Game
    link(href='/css/main.css', rel='stylesheet')

  body
    form(id='form', autocomplete='off')
      #input-text
        input(type='text', name='nickname', id='nickname', placeholder='NickName', autocomplete='off', maxlength='15', value='Anonymous')
        input(type='text', name='message', id='message', placeholder='Send a message', autocomplete='off', maxlength='64')

    script(src=`/js/${process.env.NODE_ENV === 'production' ? 'bundle.min.js' : 'bundle.js'}`)
