@font-face {
  font-family: 'px437_ati_8x16regular';
  src: url('/fonts/px437_ati_8x16-webfont.woff2') format('woff2'),
          url('/fonts/px437_ati_8x16-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'px437_ati_8x16regular';
}

canvas {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#message, #nickname  {
  position: absolute;
  z-index: 10;
  width: 89%;
  margin: 0 auto;
  border: 1px solid lightsalmon;
  height: 30px;
  padding: 0 10px;
}

#message {
  bottom: 11px;
}

#nickname {
  top: 11px;
}